.timeline {
    width: 65vw;
    /*height: 20em;*/
    height: 100vh;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: inline-block;
    margin: 0;
}

.timeline-inspector {
    display: inline-block;
    background-color: green;
    height: 100vh;
    width: 30vw;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}